# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build
dist/
out/
*.exe
*.msi
*.dmg
*.zip
*.AppImage

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Next.js
.next/
.vercel/
