name: Build Desktop (Electron)

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Clear npm cache
        run: npm cache clean --force

      - name: Install deps
        working-directory: app-desktop
        run: npm install

      - name: Build (electron-builder)
        working-directory: app-desktop
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run dist
